<mat-toolbar color="primary">
  <img src="../assets/images/1.png" />
  <span class="spacer"></span>
  <button mat-raised-button
          color="accent"
          (click)="openDetailsDialog()">
    See details about the business of the application
  </button>
</mat-toolbar>

<div class="container">
  <div class="warning-container">
    This application is a POC (Proof of concept). The data displayed here is not real, this is fake data displayed for
    test purposes! Please do not enter real data!
  </div>
  <router-outlet></router-outlet>

</div>