.card {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
  .card-actions-container {
    text-align: right;
  }

  .big-icon {
    font-size: 80px;
    width: auto;
    color: rgb(194, 24, 91);
  }

  mat-card-content {
    font-size: 16px;
    width: 100%;
    div {
      margin-bottom: 10px;

      span {
        padding: 3px 10px;
        border-radius: 10px;
      }

      .status-not-started-container {
        background-color: rgb(63, 92, 218);
      }

      .status-in-progress-container {
        background-color: rgb(226, 175, 7);
      }
      
      .status-done-container {
        background-color: rgb(1, 150, 68);
      }
    }
  }

  mat-card-actions>mat-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  mat-card-actions>mat-icon:hover {
    color: rgb(194, 24, 91);
  }

  .card-action-button {
    margin-left: 195px;
  }

  mat-card-title-group {
    margin-bottom: 50px;
    height: 30px;

    mat-card-title:hover {
      text-decoration: underline;
      cursor: pointer;
      color:rgb(194, 24, 91);
    }
  }
}

.card:hover {
  background-color: rgb(90, 86, 86);
}

.goals-toolbar-container {
  height: 100px;
  button {
    margin: 30px;
    position: absolute;
    right: 250px;
  }
}


@media only screen and (max-width: 700px) {
  mat-card-title-group {
    margin-bottom: 30px !important;
    // height: 20px;
  }
  
  mat-card-title {
    font-size: 18px;
  }

  .big-icon {
    font-size: 40px !important;
  }
}