<h2 mat-dialog-title>Application business details</h2>
<mat-dialog-content class="mat-typography">
  <p>
    <span>Goal</span> = the object of a person's ambition or effort; an aim or desired result.
  </p>

  <p>
    <span>Objective</span> = a thing aimed at or sought; a goal. Statements describing the results to be achieved, and
    the
    manner in
    which they will be achieved. You usually need multiple objectives to address a single goal.
  </p>
  <p>
    So you have a goal. And for the goal that you have you need to set objectives. Each objective should be S.M.A.R.T.:
  </p>

  <ul>
    <li>
      <span>Specific:</span> includes the “who”, “what”, and “where”. Use only one action verb to avoid
      issues with measuring success.
    </li>
    <li>
      <span>Measurable:</span> focuses on “how much” change is expected.
    </li>
    <li>
      <span>Achievable:</span> realistic given program resources and planned implementation.
    </li>
    <li>
      <span>Relevant:</span> relates directly to program/activity goals.
    </li>
    <li>
      <span>Time-bound:</span> focuses on “when” the objective will be achieved.
    </li>
  </ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
          cdkFocusInitial>Done</button>
</mat-dialog-actions>